body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff; /* Color del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.data {
    font-size: 14px;
    margin-bottom: 10px;
}
